/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 2rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 0.5rem;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}
