/* General typography */

body {
  font-family: Arimo, sans-serif;
  margin: 0.5rem 7.5vw;
}

h1 {
  font-size: 1.1rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h5 {
  font-size: 0.9rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}


/* Site layout */

/* This is the basic box that the main part of the page goes into */
.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #f6f6ef;
}

.hidden {
  display: none;
}


/* Forms */

form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0;
}

form > * {
  margin: 0.75rem 0;
}

form label {
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block;
  width: 3.5rem;
  text-align: right;
  margin-right: 0.3rem;
}

form input {
  font-size: 0.8rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 20rem;
  box-shadow: 0 0 0.2rem 0.05rem lightgray;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 0.25rem 0.05rem darkgray;
}

form > button {
  width: 4rem;
  margin: 0.3rem 0 0.95rem 4rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.85rem;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

form > button:hover {
  background-color: dimgray;
}

form > hr {
  margin: 0;
  border: 0.05rem solid lightgray;
}

.login-input label {
  width: 4.375rem;
}


/* responsive queries for tightening things up for mobile. */

@media screen and (max-width: 576px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 70%;
    margin: 0.5rem auto;
  }
}
