/* Lists of stories */

.stories-list {
  margin: 1.25rem 0.25rem;
}

.stories-list > li {
  color: gray;
  font-size: 0.9rem;
  margin: 0.75rem 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 1.25rem 1.75rem;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.95rem;
  font-weight: normal;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}
