/* Lists of stories */

.stories-list {
  margin: 1.25rem 0.25rem;
}

.stories-list > li {
  color: gray;
  font-size: 0.9rem;
  margin: 0.75rem 0;
}

.stories-list > li > div {
  display: inline-block;
  vertical-align: top;
}

.stories-list hr {
  margin-right: 3rem;
  color: lightgrey;
}

.story-icons > *, .story-text > * {
  margin-bottom: 0.25rem;
}

.story-icons i {
  display: block;
  padding: 0.1rem;
  text-align: center;
  cursor: pointer;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 1.25rem 1.75rem;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.95rem;
  font-weight: bold;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  display: block;
  color: green;
}

.story-user {
  display: block;
  color: orange;
}
